.App {
  text-align: center;
}

.container-fluid.component, .container.component {
  width: auto;
  min-width: min(95%, 300px);
}

.complete-width {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.complex-item:active {
  color: inherit;
  background-color: inherit;
}

nav .dropdown-menu[data-bs-popper] {
  left: -80px;
}

button.rounded-circle {
  padding: 6px 10px;
}

.rounded-circle .bi{
  height: 20px;
  width: 20px;
  margin-top: -3px;
}

nav .bi {
  display: none;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}

nav .dropdown-item.nav-link,nav.navbar-expand-sm .dropdown-item.nav-link {
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
}

.accordion-item .accordion-button {
  width: fit-content;
}

.cart-item .price {
  min-width: 70px;
}

.cart-item .title {
  cursor: pointer;
}